{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.photo %}
    <img src="{{ user.photo.url }}" alt="" width="200">
    {% endif %}
    <h6>Имя: {{ user.first_name }}</h6>
    <h6>Фамилия: {{ user.last_name }}</h6>
    <h6>Отчество: {{ user.patronymic }}</h6>
    <h6>Имя пользователя: {{ user.username }}</h6>
    <h6>Эл.почта: {{ user.email }}</h6>
    <h6>О себе: {{ user.bio }}</h6>
    <h6>Дата регистрации: {{ user.time_created }}</h6>
    <h6>Дата измененения: {{ user.time_updated }}</h6>
    <a class="btn btn-secondary" href="{% url 'update_profile' user.id %}">Изменить</a>
</div>
{% endblock %}