{% extends 'base.html' %}

{% block content %}
<div class="container">

    <form action="{% url 'search_users' %}" method="get" class="form-inline">
        <input autocomplete="off" type="search" placeholder="Поиск пользователей"
               aria-label="Search" name="search" width="">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Искать</button>
    </form>

    <h3 align="center">{{ subtitle }}</h3>
    {% for s in subscriptions %}
    <div class="card" style="width: 11rem; height 30rem; display: inline-block; margin-right: 43px; margin-bottom: 30px;">
        <div class="card-header">
            <h5 align="center">{{ s.username }}</h5> <hr>
            <h6 align="center">{{ s.last_name }}<br>{{ s.first_name }} <br>{{ s.patronymic }}</h6>
        </div>
        {% if s.photo %}
        <img src="{{ s.photo.url }}" class="card-img-top" alt="" height="175"><br>
        {% endif %}
        <div class="d-grid gap-2">
            <a class="btn btn-secondary" href="{% url 'another_user' s.pk %}">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}