{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for c in courses %}
    <div class="card" style="width: 21rem; display: inline-block; margin-right: 30px; margin-bottom: 30px;">
        <h3 align="center">{{ c.title }}</h3>
        {% if c.course_photo %}
        <img src="{{ c.course_photo.url }}" class="card-img-top" alt="" height="175"> <br>
        {% endif %}
        Дата создания: {{ c.time_created }} <br>
        Дата изменения: {{ c.time_updated }} <br>
        Автор: {{ c.author }} ({{ c.author.first_name }}) <br>
        <div class="d-grid gap-2">
        <a class="btn btn-secondary" href="{{ c.get_absolute_url }}">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}