{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'join_the_course' course.id %}">Вступить</a>
    {% endif %}

    {% if request.user == course.author %}
    <a class="btn btn-secondary" href="{% url 'update_course' course.id %}">Изменить курс</a>
    <a class="btn btn-secondary" href="{% url 'delete_course' course.id %}">Удалить курс</a>
    {% endif %}
    <br><br>
    <h5>О курсе: {{ course.about_the_course|linebreaks }}</h5>


    {% for p in posts %}
    <div class="card">
        <h3>{{ p.title }}</h3>
        Дата создания: {{ p.time_created }} |
        Дата изменения: {{ p.time_updated }} <br> <br>
        <a class="btn btn-secondary" href="{{ p.get_absolute_url }}">Подробнее</a>
    </div>
    <br>
    {% endfor %}

</div>
{% endblock %}