{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
        {% if is_followed %}
            <a class="btn btn-secondary" href="{% url 'leave_the_course' course.id %}">Покинуть</a>
        {% elif request.user == course.author %}

        {% else %}
            {% if course.type_course == '1' %}
                <a class="btn btn-secondary" href="{% url 'join_the_course' course.id %}">Вступить</a>
            {% else %}
                <a class="btn btn-outline-secondary" href="{% url 'payment' course.pk %}">Купить</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h5><i>Авторизуйтесь, чтобы вступить</i></h5>
    {% endif %}

    {% if request.user == course.author %}
    <a class="btn btn-secondary" href="{% url 'update_course' course.id %}">Изменить курс</a>
    <a class="btn btn-secondary" href="{% url 'delete_course' course.id %}">Удалить курс</a>
    <a class="btn btn-secondary" href="{% url 'create_post' course.id %}">Добавить лекцию</a>
    <a class="btn btn-secondary" href="{% url 'create_test' course.id %}">Добавить тест</a>
    {% endif %}
    <br><br>
    <h5>О курсе: {{ course.about_the_course|linebreaks }}</h5>
{% if posts %}
    <h4 align="center">Лекции:</h4>
    {% for p in posts %}
    <div class="card">
        <div class="card-body">
        <h3>{{ p.title }}</h3>
        <h6>Дата создания: {{ p.time_created }} |
        Дата изменения: {{ p.time_updated }}</h6>
        </div>
        <a class="btn btn-secondary" href="{{ p.get_absolute_url }}">Подробнее</a>
    </div>
    <br>
    {% endfor %}
{% endif %}
    <hr>
    <h4 align="center">Практика:</h4>
    {% for t in tests %}
    <div class="card">
        <div class="card-body">
        <h3>{{ t.title }}</h3>
        <h6>Дата создания: {{ t.time_created }} |
        Дата изменения: {{ t.time_updated }}</h6>
        </div>
        <a class="btn btn-secondary" href="{% url 'show_specific_test' t.course.pk t.id %}">Подробнее</a>
    </div>
    <br>
    {% endfor %}


    <hr>
    <h3 align="center">Комментарии: {{ count_comments }}</h3>
    {% if request.user.is_authenticated %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Добавить</button>
        </form>
        <br>
    {% else %}
        <h5><i>Авторизуйтесь, чтобы оставить комментарий</i></h5>
    {% endif %}

    {% for c in comments %}
    <div class="card">
        <div class="card-body">
            <h5>
                <img src="{{ c.author.photo.url }}" alt="" width="40" height="40">
                <a class="btn btn-outline-secondary" href="{% url 'another_user' c.author.pk %}">{{ c.author }}</a>
            </h5>
            <h5>{{ c.comment_text }}</h5>
            <h5>{{ c.time_created }}</h5>
        </div>
    </div>
    <br>
    {% endfor %}<br><br>
</div>
{% endblock %}

<script src="https://js.stripe.com/v3/"></script>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

var stripe = Stripe("{{ pk_test_51NBKWuAu80O9dq779iS9UZzXLFNmeuvnHofv2KiQ79w28BfEBLXNiGqrpZdSwuUCnuM8PayrOImZNE7ogFU0iQLB00Kz61pVrN }}");
var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () {
  fetch("{% url 'payment' course.id %}", {
    method: "POST",
    headers: {
        'X-CSRFToken': csrftoken
    }
  })
    .then(function (response) {
      return response.json();
    })
    .then(function (session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function (result) {
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
});
</script>