{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        Название курса: {{ form.title }} <br> <br>
        Описание курса: {{ form.about_the_course }} <br><br>
        Категория курса: {{ form.category }}
        <div class="row">
            <label>Фото курса:</label>
            <input type="file" id="id_course_photo" name="course_photo"/>
        </div>
        <br>
        <div class="row">

            <span id="output"></span>
        </div>

        <label>Тип курса</label><br>

        <input type="radio" id="public" name="type_course" value="1">
        <label for="public">Публичный</label><br>

        <br> <input type="radio" id="paid" name="type_course" value="2"">
        <label for="paid">Платный</label><br>
        <label id="text2" hidden="true">
            Цена (в белорусских рублях):
            <input id="price" name="price">
        </label>

        <br>
        <button class="btn btn-secondary">Создать</button>
    </form>
</div>

{% block javascript %}
<script src="{% static 'courses/js/script.js' %}"></script>
{% endblock %}

{% endblock %}