{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary" href="{% url 'create_course' %}">Создать курс</a>
    <h3 align="center">Преподавание</h3>
    {% for c in courses %}
    {% if request.user == c.author %}
    <div class="card" style="width: 21rem; display: inline-block; margin-right: 30px; margin-bottom: 30px;">
        <div class="card-header">
            <h3 align="center">{{ c.title }}</h3>
        </div>
        {% if c.course_photo %}
        <img src="{{ c.course_photo.url }}" class="card-img-top" alt="" height="175"> <br>
        {% endif %}
        Дата создания: {{ c.time_created }} <br>
        Дата изменения: {{ c.time_updated }} <br>
        Автор: {{ c.author }} ({{ c.author.first_name }}) <br>
        <div class="d-grid gap-2">
            <a class="btn btn-secondary" href="{{ c.get_absolute_url }}">Подробнее</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}