{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="container">
        {% csrf_token %}

        <p>Название курса: {{ form.title }}<p>
        <p>Описание курса: {{ form.about_the_course }}</p>
        <p>Изображение курса на данный момент:</p>
        <p><img src="{{ course.course_photo.url }}" alt="" width="350"></p>

        <div class="row">
            <label>Новое фото курса:</label>
            <input type="file" id="id_course_photo" name="course_photo"/>
        </div>
        <br>
        <div class="row">
            <span id="output"></span>
        </div>
        <label>Тип курса</label><br>

        <input type="radio" id="public" name="type_course" value="1">
        <label for="public">Публичный</label><br>

        <br> <input type="radio" id="paid" name="type_course" value="2">
        <label for="paid">Платный</label><br>
        <label id="text2" hidden="true">
            Цена (в белорусских рублях):
            <input id="price" name="price">
        </label>

        <br>

        <button class="btn btn-secondary">Сохранить изменения</button>
        <br> <br>
    </div>
</form>

{% block javascript %}
<script src="{% static 'courses/js/script.js' %}"></script>
{% endblock %}

{% endblock %}