{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<br>
<a class="btn btn-secondary" href="{% url 'show_courses' %}">Каталог</a>

<form action="{% url 'search_course' %}" method="get" class="form-inline" style="display: inline-block; float:right;">
    <input autocomplete="off" type="search" placeholder="Поиск курса"
           aria-label="Search" name="search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Искать</button>
</form>

{% if user.is_authenticated %}
<a class="btn btn-secondary" href="{{ user.get_absolute_url }}">Мой профиль</a>
<a class="btn btn-outline-secondary" href="#">Обучение</a>
<a class="btn btn-secondary" href="{% url 'teaching' %}">Преподавание</a>
<hr>

{% else %}
<a class="btn btn-secondary" href="{% url 'login_user' %}">Войти</a>
<a class="btn btn-secondary" href="{% url 'register_user' %}">Регистрация</a>
<hr>
{% endif %}
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>