{% load static %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'courses/css/learning.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

</head>
<body>


<section class="container" style="word-wrap: break-word; width: 100%;">

    {% include 'nav.html' %}

    <h3 style="text-align: center; width: 100%; color: white; margin-top: 20px;">{{ subtitle }}*</h3>

    {% autoescape off %}
    {% for item in news %}
        <div class="card" style="width: 85%; height: 400px; display: flex; flex-direction: column; ">
            <h3 style="color: white; text-align: center; text-decoration: none;">{{ item }}</h3>
        </div>

    {% endfor %}
    {% endautoescape %}
    <h3 style="text-align: center; width: 100%; color: white; margin-top: 20px; margin-bottom: 40px;">*Информация взята с сайта sputnik.by</h3>








</section>
</body>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'courses/js/vanilla-tilt.js' %}"></script>

<script>

</script>

</html>