{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        {{ form.title }}
        <label>Название курса</label>
        <br>
        <br>
        {# Вывод загруженного изображения #}
        <div class="row">
            <label>Загрузите изображение:</label>
            <input type="file" id="photo" name="photo"/>
        </div>
        <div class="row">
            <span id="output"></span>
        </div>


        <br>
        <label>Тип курса</label><br>

        <input type="radio" id="public" name="type_course" value="1">
        <label for="public">Публичный</label><br>

        <input type="radio" id="security" name="type_course" value="2">
        <label for="security">Доступ по коду</label><br>
        <div id="text" hidden="true">Text</div>


        <br> <input type="radio" id="paid" name="type_course" value="3"">
        <label for="paid">Платный</label><br>
        <div id="text2" hidden="true">Цена</div>

        <button class="btn btn-success">Создать курс</button>

    </div>
</form>

{% block javascript %}
    <script src="{% static 'posts/js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}


{% endblock %}