{% load static %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static 'courses/css/learning.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

</head>
<body>


<section class="container" style="word-wrap: break-word; width: 100%;">

    {% include 'nav.html' %}

    {% if request.user.is_authenticated %}

    <h2 align="center" style="width: 100%; color: white; margin-top: 30px;">Выполненные работы:</h2>

    {% for cw in compl_works %}
    <div class="card" style="width: 85%; height: 250px; display: flex; flex-direction: column; ">
        <h4>
            {% if cw.user.photo %}
            <img src="{{ cw.user.photo.url }}" alt=""
                 style="margin-right: 20px; margin-top: -20px; width: 70px; height: 70px; object-fit: cover; border-radius: 50%; display: flex; box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18); float: left;">
            {% endif %}
            <a style="text-decoration: none; color: white;" class="btn btn-outline-secondary" href="{% url 'another_user' cw.user.pk %}">{{ cw.user.username }}</a>
        </h4>
        <h3 style="color: white;">Учащийся: {{ cw.user.last_name }} {{ cw.user.first_name }} {{ cw.user.patronymic }} ({{ cw.user }}</h3>
        <h3 style="color: white;">Задание: {{ cw.post }}</h3>
        <h3 style="color: white;">Выполненное задание:
            <object data="data/test.pdf" type="application/docx" width="300" height="200">
                        <a href="{{ cw.file.url }}" style="text-decoration: none; color: purple;">{{ cw.file }}</a>
                    </object>
        </h3>
        <h3 style="color: white;">Оценка: {{ cw.grade }}</h3>
        <h3 style="color: white;">Дата сдачи работы: {{ cw.time_load }}</h3>
    </div>


    <form method="post" enctype="multipart/form-data" action="{% url 'save_update_valuations' cw.post.study_group.id cw.post.id cw.id %}" style="width: 100%; margin-bottom: 30px;" autocomplete="off">
        {% csrf_token %}
        <section class="form-section">
            <div class="form-box">
                <div class="form-value">
                    <div class="inputbox">
                        <input type="text" name="grade" id="" value="{{ cw.grade }}">
                        <label>Оценка</label>
                    </div>
                    <button class="form-button" type="submit">Поставить оценку</button>
                </div>
            </div>
        </section>
    </form>
    {% endfor %}
{% endif %}
</section>
</body>
<script type="text/javascript" src="{% static 'courses/js/vanilla-tilt.js' %}"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".card"), {
		max: 25,
		speed: 400,
		glare: true,
		"max-glare": 1,
	});
	const menuHamburger = document.querySelector(".menu-hamburger")
        const navLinks = document.querySelector(".nav-links")

        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })

const button = document.querySelector("button"),
      toast = document.querySelector(".toast")
      closeIcon = document.querySelector(".close"),
      progress = document.querySelector(".progress");
      let timer1, timer2;
      button.addEventListener("click", () => {
        toast.classList.add("active");
        progress.classList.add("active");
        timer1 = setTimeout(() => {
            toast.classList.remove("active");
        }, 5000); //1s = 1000 milliseconds
        timer2 = setTimeout(() => {
          progress.classList.remove("active");
        }, 5300);
      });

      closeIcon.addEventListener("click", () => {
        toast.classList.remove("active");

        setTimeout(() => {
          progress.classList.remove("active");
        }, 300);
        clearTimeout(timer1);
        clearTimeout(timer2);
      });


</script>


</html>