{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'show_students' study_group.id %}">Учащиеся</a>
        {% if is_followed %}
            <a class="btn btn-secondary" href="{% url 'leave_the_group' study_group.pk %}">Покинуть</a>
        {% elif request.user == study_group.author %}

        {% else %}
            <a class="btn btn-outline-secondary" href="">Вступить</a>
        {% endif %}
    {% else %}
        <h5><i>Авторизуйтесь, чтобы вступить</i></h5>
    {% endif %}
    {% if request.user == study_group.author %}
    <a class="btn btn-secondary" href="{% url 'update_group' study_group.pk %}">Изменить группу</a>
    <a class="btn btn-secondary" href="{% url 'delete_group' study_group.pk %}">Удалить группу</a>
    <a class="btn btn-secondary" href="{% url 'create_task' study_group.id %}">Добавить задание</a><br><br>
    {% endif %}
    <br><br>
    <h5>О группе: {{ study_group.about_the_group|linebreaks }}</h5>
    <h5>Преподаватель: {{ study_group.author.last_name }} {{ study_group.author.first_name }} {{ study_group.author.patronymic }}</h5>
    <a class="btn btn-secondary" href="{% url 'another_user' study_group.author.pk %}">Посетить</a><br><br>


    {% for p in posts %}
    <div class="card">
        <div class="card-body">
        <h3>{{ p.title }}</h3>
        <h6>Дата создания: {{ p.time_created }} | Дата изменения: {{ p.time_updated }}</h6>
        </div>
        <a class="btn btn-secondary" href="{{ p.get_absolute_url }}">Подробнее</a>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}